.mainpage-overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 100dvh;
    width: 100dvw;
    background-color: #19376D;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.mainpage-overlay .mainpage-sidebar-container{
    position: relative;
    height: 100%;
    width: 17.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.mainpage-overlay .mainpage-sidebar{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #0B2447;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
}

.mainpage-overlay .mainpage-sidebar-option{
    position: relative;
    width: 100%;
    padding: 0.5rem;
    background-color: #576CBC;
    color: white;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    font-family: 'Montserrat';
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    cursor: pointer;
    transition: 0.15s ease background-color;
}

.mainpage-overlay .mainpage-sidebar-option:hover{
    background-color: white;
    color: #576CBC;
}

.mainpage-overlay .mainpage-content-container{
    position: relative;
    height: 100%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainpage-overlay .mainpage-content-sheet{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.mainpage-overlay .mainpage-content-sheet-top3-container{
    position: relative;
    width: 50%;
    height: 25%;
    background-color: #576CBC;
    margin-top: 2rem;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainpage-overlay .mainpage-content-sheet-top3-title{
    position: absolute;
    top: 0rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 1rem;
    color: white;
}


.mainpage-overlay .mainpage-content-sheet-top3-row{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}



.mainpage-overlay .mainpage-content-sheet-top3-podium{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 70%;
    gap: 1rem;
    padding-top: 0.5rem;
    width: 50%;
    border-right: 1.5px solid #0b24471f;
}

.mainpage-overlay .mainpage-content-sheet-top3-podium3{
    position: relative;
    display: flex;
    height: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.mainpage-overlay .mainpage-content-sheet-top3-podium2{
    position: relative;
    display: flex;
    height: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.mainpage-overlay .mainpage-content-sheet-top3-podium1{
    position: relative;
    display: flex;
    height: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.mainpage-overlay .mainpage-content-sheet-top3-podium-icon{
    position: relative;
    display: flex;
    height: 85%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.mainpage-overlay .mainpage-content-sheet-top3-podium-name{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 0.675rem;
    color: white;
}

.mainpage-overlay .mainpage-content-sheet-top3-podium-lp{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 0.675rem;
    color: white;
    text-align: center;
}




.mainpage-overlay .mainpage-content-sheet-top3-title{
    position: absolute;
    top: -1rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 1rem;
    color: white;
}


.mainpage-overlay .mainpage-content-sheet-top3-row{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}


.mainpage-overlay .mainpage-content-sheet-bot3-title{
    position: absolute;
    top: -1rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 1rem;
    color: white;
}



.mainpage-overlay .mainpage-content-sheet-bot3-podium{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    height: 70%;
    padding-top: 0.5rem;
    width: 30%;
    margin-left: 1rem;
}

.mainpage-overlay .mainpage-content-sheet-bot3-podium3{
    position: relative;
    display: flex;
    height: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.mainpage-overlay .mainpage-content-sheet-bot3-podium1{
    position: relative;
    display: flex;
    height: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.mainpage-overlay .mainpage-content-sheet-bot3-podium-icon{
    position: relative;
    display: flex;
    height: 40%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    object-fit: cover;
}

.mainpage-overlay .mainpage-content-sheet-bot3-podium-name{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 0.675rem;
    color: white;
}

.mainpage-overlay .mainpage-content-sheet-bot3-podium-lp{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 0.675rem;
    color: white;
    text-align: center;
}

.mainpage-overlay .mainpage-content-sheet-bot3-podium2{
    position: relative;
    display: flex;
    height: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.mainpage-overlay .mainpage-content-info-container{
    position: relative;
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.mainpage-overlay .mainpage-content-latestgames-list{
    position: relative;
    width: 55%;
    height: 90%;
    margin-top: 2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: start;
    padding: 0.75rem;
    background-color: #0B2447;
    overflow-y: scroll;
}

.mainpage-overlay .mainpage-content-latestgames-list-title{
    position: relative;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 1.25rem;
    color: white;
}

.mainpage-overlay .mainpage-content-latestgames-list-gamelist{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1rem;
    gap: 0.5rem;
}

.mainpage-overlay .mainpage-content-latestgames-list-gameitem{
    position: relative;
    height: 8rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #576CBC;
    border-radius: 0.5rem;
}

.mainpage-overlay .mainpage-content-latestgames-list-gameitem-top{
    position: relative;
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    border-radius: 0.5rem;
    gap: 2rem;
}

.mainpage-overlay .mainpage-content-latestgames-list-gameitem-top-date{
    position: relative;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 0.925rem;
    color: white;
}

.mainpage-overlay .mainpage-content-latestgames-list-gameitem-top-winner{
    position: relative;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 0.925rem;
    color: white;
}

.mainpage-overlay .mainpage-content-latestgames-list-gameitem-bot{
    position: relative;
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 0.5rem;
}

.mainpage-overlay .mainpage-content-latestgames-list-gameitem-team{
    position: relative;
    height: 90%;
    width: 45%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 0.5rem;
    background-color: #b1b2fa;
}

.mainpage-overlay .mainpage-content-latestgames-list-gameitem-team-player{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 20%;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 0.665rem;
    color: black;
}

.mainpage-overlay .mainpage-content-latestgames-list-gameitem-team-player-icon{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    border-radius: 0.5rem;
    height: 60%;
    margin-bottom: 0.25rem;
}


.mainpage-overlay .mainpage-content-latestgames-list-gameitem-team-player-role{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30%;
}

.mainpage-overlay .mainpage-content-latestgames-list-gameitem-team-player-role-icon{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.mainpage-overlay .mainpage-content-latestgames-list-gameitem-lpchange{
    position: relative;
    height: 90%;
    width: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 0.5rem;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 0.775rem;
    color: black;
}


.mainpage-overlay .mainpage-content-sheet-list{
    position: relative;
    width: 40%;
    height: 90%;
    background-color: #0B2447;
    margin-top: 2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: start;
    padding: 0.75rem;
    overflow-y: scroll;
}

.mainpage-overlay .mainpage-content-sheet-list-topbar{
    position: relative;
    width: 100%;
    background-color: #576CBC;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.mainpage-overlay .mainpage-content-sheet-list-topbar-player{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 30%;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1rem;
    padding-left: 1.5rem;
}

.mainpage-overlay .mainpage-content-sheet-list-topbar-games{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 15%;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1rem;
    border-left: 1.5px solid #0b244757;
}

.mainpage-overlay .mainpage-content-sheet-list-topbar-wins{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 15%;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1rem;
    border-left: 1.5px solid #0b244757;
}

.mainpage-overlay .mainpage-content-sheet-list-topbar-rank{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 25%;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1rem;
    border-left: 1.5px solid #0b244757;
}

.mainpage-overlay .mainpage-content-sheet-list-topbar-lp{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 15%;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1rem;
    border-left: 1.5px solid #0b244757;
}


.mainpage-overlay .mainpage-content-sheet-list-item{
    position: relative;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.1s ease background-color;
}

.mainpage-overlay .mainpage-content-sheet-list-item:hover{
    background-color: #576bbc2f;
}

.mainpage-overlay .mainpage-content-sheet-list-player{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 30%;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1rem;
}

.mainpage-overlay .mainpage-content-sheet-list-player-rank-icon{
    position: absolute;
    margin-left: 4rem;
    height: 100%;
}

.mainpage-overlay .mainpage-content-sheet-list-games{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 15%;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1rem;
    border-left: 1.5px solid #0b244757;
}

.mainpage-overlay .mainpage-content-sheet-list-wins{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 15%;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1rem;
    border-left: 1.5px solid #0b244757;
}

.mainpage-overlay .mainpage-content-sheet-list-rank{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 25%;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1.125rem;
    border-left: 1.5px solid #0b244757;
}

.mainpage-overlay .mainpage-content-sheet-list-lp{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 15%;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1rem;
    border-left: 1.5px solid #0b244757;
}

.mainpage-overlay .player-expanded-stats-modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 75vw;
    height: 75vh;
    background-color: #0b2447;
    border-radius: 0.5rem;
    z-index: 1;
    box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.mainpage-overlay .player-expanded-stats-modal-close{
    position: absolute;
    top: 1rem;
    right: 2rem;
    color: white;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 2rem;
    cursor: pointer;
    z-index: 1;
}


.mainpage-overlay .player-expanded-stats-modal-title{
    position: relative;
    color: white;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1.25rem;
    width: 100%;
    padding-left: 1rem;
    height: 15%;
}

.mainpage-overlay .player-expanded-stats-modal-body{
    position: relative;
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.mainpage-overlay .player-expanded-stats-modal-body-left{
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.mainpage-overlay .player-expanded-stats-modal-body-right{
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1rem;
    flex-wrap: wrap;
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.24) inset;
    border-radius: 0.5rem;
    background-color: #19376D;
    overflow-y: scroll;
}

.mainpage-overlay .player-expanded-stats-modal-body-total-stats{
    position: relative;
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: white;
    gap: 1.25rem;
    font-family: 'Montserrat';
    font-weight: 500;
}

.mainpage-overlay .player-expanded-stats-modal-body-role-stats{
    position: relative;
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: white;
    gap: 1.25rem;
    font-family: 'Montserrat';
    font-weight: 500;

}

.mainpage-overlay .player-expanded-stats-modal-body-role-stat-container{
    position: relative;
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

.mainpage-overlay .player-expanded-stats-modal-body-role-stats-icon-container{
    position: relative;
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.mainpage-overlay .player-expanded-stats-modal-body-role-stats-icon{
    position: relative;
    width: 100%;
}

.mainpage-overlay .player-expanded-stats-modal-body-role-stats-text-container{
    position: relative;
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: start;

}

.mainpage-overlay .player-expanded-stats-modal-body-role-stats-text{
    position: relative;
    color: white;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 0.775rem;
    padding-left: 1rem;
}

.mainpage-overlay .player-expanded-stats-modal-body-champion-stats-container{
    position: relative;
    width: 25%;
    height: 50%;
}

.mainpage-overlay .player-expanded-stats-modal-body-champion-icon{
    position: relative;
    height: 45%;
    border-radius: 0.5rem;
    padding-bottom: 0.25rem;
}

.mainpage-overlay .player-expanded-stats-modal-body-champion-stat{
    position: relative;
    color: white;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 0.775rem;
    display: flex;
    justify-items: center;
    align-items: center;
}